.clear,
.dedicated-clear
{
    clear: both;
}

h4.error
{
    background-image:url("../images/attention.png");
    background-repeat:no-repeat;
    clear:both;
    font-weight:bold;
    line-height:20px;
    margin-bottom:5px;
    padding-left:25px;
}

ul.error-list
{
    margin-bottom:1em !important;
    margin-left:0 !important;
    list-style: none;
}

ul.error-list label,
tr.error td label,
tr.error th label,
tr td.error label,
tr th.error label,
div.error label,
p.error label,
p.disabled-reason
{
    color:#F00000;
}

input.shows-title-as-hint,
input.shows-title-as-hint
{
    color: #CCCCCC;
}

input[readonly]
{
  background-color: #eeeeee;
}


.wagon
{
    position:relative;
    width:735px;
    height:160px;
    background-repeat: no-repeat;
    margin-bottom:1em;
}

.wagon .seat,
ul.seat_glossary li .seat
{
    position:absolute;
    background-color: #cccccc;
    opacity: .60;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}

.wagon .seat.available,
ul.seat_glossary li .seat.available
{
    cursor:pointer;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

form.contingent_depleted .wagon .seat.available
{
    cursor:default;
}

ul.seat_glossary li .seat,
ul.seat_glossary li .seat.available
{
    cursor:default;
    position: relative;
}

.wagon .seat.available,
ul.seat_glossary li .seat.available,
form.contingent_depleted .wagon .seat.available:hover
{
    background-color: #007073;
}

.wagon .seat.available.selected,
ul.seat_glossary li .seat.available.selected,
.wagon .seat.available:hover,
form.contingent_depleted .wagon .seat.available.selected:hover
{
    background-color: #FAA61A;
}

form.contingent_depleted .wagon .seat.available.selected
{
    cursor:pointer;
}

div.content ul, div.content ul.wagon-list
{
    margin-left:0;
}

ul.wagon-list
{
    margin-bottom:1em;
}

ul.wagon-list li
{
    display:inline-block;
    *display:inline;
    *zoom:1;
    text-align:center;
    vertical-align:middle;
    margin:0px 2px;
    line-height:1.5em;
    float: left;
}

ul.wagon-list li div:first-child
{
    margin-bottom: 2px;
}

div.content div.actual-content ul.wagon-list li a
{
    display:block;
    color:black;
    font-weight:bold;
    text-decoration: none;
}

ul.wagon-list li a img
{
    background-color:#cccccc;
    display:block;
}


ul.wagon-list li.ui-tabs-selected a img,
ul.wagon-list li:hover a img
{
    background-color:#faa61a;
}

ul.wagon-list li.start
{
    background-image:url(../images/train-start.gif);
    background-repeat: no-repeat;
    background-position: bottom left;
    width:26px;
    height:78px;
}

ul.wagon-list li.end
{
    background-image:url(../images/train-end.gif);
    background-repeat: no-repeat;
    background-position: bottom left;
    width:26px;
    height:78px;
}

ul.wagon-list li.start-2
{
    background-image: url(../images/train-start_2.png);
    width: 54px;
    height: 79px;
}

ul.wagon-list li.end-2
{
    background-image: url(../images/train-end_2.png);
    width: 54px;
    height: 79px;
}

.ui-tabs .ui-tabs-hide
{
    display: none;
}

ul.seats_overview
{
    margin-bottom:1em;
}

ul.seats_overview li
{
    padding:2px 0;
}

ul.seats_overview li a,
ul.seats_overview li span,
ul.seats_overview li a img
{
    vertical-align:middle;
}
div.direction
{
    display:block;
    margin-bottom:1em;

}
div.direction span
{
    vertical-align: middle;
}
div.direction span.left-arrow
{
    /*    display:inline-block;
        *zoom:1;
        *display:inline;
        height:0;
        width:0;
        overflow:hidden;
        border-right:10px solid black;
        border-top: 6px solid white;
        border-bottom : 6px solid white;*/
    width: 10px;
    height: 11px;
    background:url(../images/arrow-left.png);
    display: inline-block ;
}
div.direction span.right-arrow
{
    /*    display:inline-block;
        *zoom:1;
        *display:inline;
        height:0;
        width:0;
        overflow:hidden;
        border-left:10px solid black;
        border-top: 6px solid white;
        border-bottom : 6px solid white;*/
    width: 10px;
    height: 11px;
    background: url(../images/arrow-right.png);
    display: inline-block ;
}

/*
span.direction.west
{
padding-left:10px;
}*/

div.payment_data-index div.actual-content h1
{
    clear: both;
}

div.payment-method-block
{
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    border-bottom: 1px solid #D9D6CE;
    float: left;
    clear: both;
    width: 100%;
    position: relative;
}

div.payment-method-block div.payment-method-description
{
    clear: both;
    float: left;
}

div.payment-method-block div.payment-data
{
    margin-top: 10px;
    float: left;
    width: 100%;
}

div.payment-method-block-saved
{
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    clear: both;
    width: 100%;
}

div.payment-method-block-saved div.payment-method-description
{
    clear: both;
    float: left;
    padding-top: 8px;
}

div.payment-method-block-saved div.payment-data
{
    margin-top: 10px;
    float: left;
    width: 100%;
}

div.payment-method-block-saved div.payment-method-select-button,
div.payment-method-block-saved div.payment-method-open-button,
div.payment-method-block-saved div.payment-method-delete-button
{
    float: right;
}
img.payment-method-logo
{
    margin-bottom: 10px;
    height: 30px;
}

div.payment-method-block div.payment-method-select-button,
div.payment-method-block div.payment-method-open-button
{
    position: relative;
    bottom: 7px;
    right: 0;
}

div.payment-method-block-parameter
{
    clear:both;
}

div#formChangeWarningHidden
{
    background-image: url("../images/attention.png");
    background-repeat: no-repeat;
    clear: both;
    color: #000000;
    font-weight: bold;
    visibility: hidden;
    line-height: 20px;
    margin-bottom: 5px;
    padding-left: 25px;
    border: medium none;
    margin: 0;
}

div.formChangeWarningVisible
{
    visibility: visible !important;
}

div.personal_data div.payment-data div.bank_name span.optional
{
    display: none;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

div.print_receipt_all
{
    background-color:#ffffff;
    position: relative;
    float: left;
    width: 94%;
    padding: 20px;
}

div.print_receipt_header
{
    background-color:#ffffff;
    position: relative;
    float: left;
    width: 94%;
    padding: 20px;
}

div.print_receipt_note
{
    width:100%;
    position:relative;
    float:left;
    text-align:center;
    margin-bottom:15px;
}

p.print_receipt_note_text
{
    color:#B90012;
    font-weight:bold;
}

div.print_receipt_button_row
{
    width:100%;
    position:relative;
    float:left;
}

table.print_receipt_button_table
{
    margin-bottom:15px;
    margin-left:auto;
    margin-right:auto;
}

table.print_receipt_button_table tr td
{
    padding-right:25px;
    padding-left:25px;
}

div.print_receipt
{
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color:#ffffff;
    position: relative;
    float: left;
    width: 95%;
    padding: 20px;
    font-size: 120%;
}

div.print_receipt_body
{
    height:95%;
}

div.print_receipt_logo
{
    position: relative;
    float: right;
}

div.print_receipt_customer_vu_info
{
    position: relative;
    float: left;
    width: 100%;

    margin-top:30px;
    padding-top:2px;
    padding-bottom:2px;
}

div.print_receipt_customer_info
{
    margin-top: 40px;
    padding-top: 25px;
    float: left;
    padding-top:2px;
    padding-bottom:2px;
}
p.print_receipt_customer_info_text {line-height: 0.5;}

div.print_receipt_vu_info_body
{
    margin-top: 10px;
    float: left;
}

div.print_receipt_vu_info
{
    position: relative;
    float: right;
    padding-top:2px;
    padding-bottom:2px;
}
p.print_receipt_vu_info_text {line-height: 0.5;}

p.print_receipt_vu_info_department
{
    font-size: 19.75px;
}

div.print_receipt_covering_letter
{
    margin-top: 60px;
    width: 100%;
    float: left;
    padding-top:2px;
    padding-bottom:2px;
}

div.print_receipt_products
{
    margin-top: 10px;
    width: 100%;
    float: left;
    padding-top:2px;
    padding-bottom:2px;
}

table.print_receipt_products_table 
{
    width: 100%;
    border-collapse: collapse;
    margin-bottom:0px;
}

table.print_receipt_products_table tr td
{
    padding: 6px;
}

table.print_receipt_products_table tr.print_receipt_products_tr td
{
    border-bottom: solid #000000; 
    border-bottom-width: 2px;
}

table.print_receipt_products_table tr.print_receipt_products_space td
{
    padding-top: 7px;
}

table.print_receipt_products_table tr.print_receipt_shipping_costs_tr td
{
    border-top: solid #000000; 
    border-top-width: 2px;
}

table.print_receipt_products_table tr.print_receipt_price_without_taxes_tr td
{
    border-top: solid #000000;
    border-top-width: 2px;
}

table.print_receipt_products_table td.print_receipt_price_with_taxes_td 
{ 
    border-top: solid #000000; 
    border-top-width: 2px;
    text-align: right;
}

table.print_receipt_products_table td.print_receipt_prices
{
    text-align: right;
}

div.print_receipt_regards
{
    margin-top: 60px;
    width: 100%;
    float: left;
    padding-top:2px;
    padding-bottom:2px;
}

p.print_receipt_regards_text {line-height: 0.5;}

div.print_receipt_footer
{
    margin-top: 80px;
    position: relative;
    bottom: 0px;
    font-size: 80%;
}

p.print_receipt_footer_text 
{
    line-height: 0.5;
    text-align: center;
}

div.print_receipt_main
{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    clear:left;
    zoom:1;
}

#nyroModalContent,
#nyroModalLoading
{
  background-color: white;
  font-size: 1.2em;
}

#nyroModalContent div.content,
#nyroModalLoading div.content
{
  padding: 1em;
}

.login .account_unconfirmed_warning {
  background-attachment: scroll;
  background-image: url("../images/icon_attention.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
  border: 1px solid red;
  padding: 5px 5px 5px 35px;
}

/************/

.ac_results
{
    padding: 0px;
    background-color: #5E7BA5; 
    background-color: white;
    overflow: hidden;
    z-index: 99999;
    text-align: left;
}

.ac_results ul
{
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}
.ac_results li
{
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;

    overflow: hidden;
}
.ac_loading
{

}

.ac_results li.ac_odd
{

}

.ac_results li.ac_over
{
    /*background-color: #C61217;*/
    /*color: white;*/
    /*  text-decoration:underline; */
    *cursor:hand;
    cursor: pointer;
}

.filterTable
{
    margin-top: 20px;
}

.filterTable .table-cell-date-range input[type=text]
{
    width: auto;
}

.filterTable > thead > tr > th,
.filterTable > tbody > tr > th,
.filterTable > tbody > tr > td
{
    padding: 20px;
}

.filterTable thead,
.filterTable tbody
{
    border: 1px solid #e5e5e5;
}

.filter-from,
.filter-to
{
    position: relative;
}

.filter-from .rd-container,
.filter-to .rd-container {
    position: absolute;
    top: 105% !important;
    z-index: 999;
}
.filter-from .rd-container {
    left: 0 !important;
}

.filter-to .rd-container
{
    left: 0 !important;
    right: auto !important;
}

body .filterTable tbody
{
    border-top: 0;
}