.button-helper {
  margin-top:20px;
}

.button-helper-back, .button-helper-cancel {
  background:url(../images/btn-grey.png) repeat-x right -23px;
}
#content .button-helper-back a,
#content .button-helper-cancel a {
  background:none;
  padding-left:8px;
}

div.payment-method-select-button {
  float: right;
  padding-left: 10px;
  padding-right: 5px;  
}

div.content #paystream_form .payment-method-select-button
{
    right: -13px;
}

.payment-method .link-list div.payment-method-select-button
{
    padding-right: 13px;
}

ul.error-list {
  margin-bottom:20px;
}

div.error label, ul.error-list label {
  font-weight: bold;
}

th.error, ul.error-list span {
  color: #ED0A19;
}
div.error input, div.error select, td.error input, td.error select {
  border: 1px solid #ED0A19;
}

select.date-part.days {
  width:48px;
}

select.date-part.months {
  width:99px;
}

select.date-part.years {
  width:58px;
}

#sidebar .widget.payment img {
  margin-top:10px;
  height: 35px;
  display: block;
  float: left;
}
#sidebar .widget.payment img#visa{
  float: right;
}
#sidebar .widget.payment img#amex{
  margin-left: 22px;
}
div.shop_tooltip {
  background-color: #F5F5B5;
  border: 1px solid #DECA7E;
  color: #303030;
  display: none;
  padding: 5px;
  position: absolute;
  width: 300px;
  z-index: 3000;
}

a.dp-choose-date span {
  display: none;
}
div.dp-popup {
  border: 1px solid #CECECE;
  float: left;
  position: absolute;
}
div.dp-popup-inline {
  position: relative;
}
div.dp-popup-inline h2 {
  color: #888888;
  font-weight: bold;
  margin-bottom: 0;
  padding: 2px;
  text-align: center;
  margin-top: 1px !important;
}
div.dp-popup-inline div.dp-nav-prev a.dp-nav-prev-month {
  border-right-color: black;
  margin-top: 0;
}
div.dp-popup-inline div.dp-nav-next a.dp-nav-next-month {
  border-left-color: black;
  margin-top: 0;
}
table.jCalendar  {
  width: 210px;
}

table.jCalendar tbody td.selected {
  background-color: #FF0000 !important;
  color: white;
}
div.dp-popup table.jCalendar td, div.dp-popup table.jCalendar th {
  padding: 5px 7px;
  text-align: center;
}
div.dp-popup table.jCalendar thead th {
  background-color: #666666;
  color: #FFFFFF;
  font-weight: bold;
}
div.dp-popup table.jCalendar td {
  cursor: pointer;
}
div.dp-popup table.jCalendar td.disabled {
  color: #CCCCCC;
}
div.dp-popup table.jCalendar td.disabled {
  cursor: default;
}
div.dp-popup table.jCalendar td.today {
  font-weight: bold;
}
div.dp-popup table.jCalendar td.weekend {
  background-color: #EBEBEB;
}
div.dp-popup div.dp-nav-prev {
  left: 0;
  position: absolute;
  top: 3px;
}
div.dp-popup div.dp-nav-prev a {
  background-image: url(../images/link-arrow-red-left.png) !important;
  margin-left:10px;
}
div.dp-popup div.dp-nav-prev .disabled, div.dp-popup div.dp-nav-prev .dp-nav-prev-year, div.dp-popup div.dp-nav-next .disabled, div.dp-popup div.dp-nav-next .dp-nav-next-year {
  display: none;
}
div.dp-popup div.dp-nav-next {
  position: absolute;
  right: 0;
  top: 3px;
}
div.dp-popup a.dp-nav-prev-month, div.dp-popup a.dp-nav-next-month {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  width: 14px;
}
div.dp-popup a.dp-nav-prev-month span, div.dp-popup a.dp-nav-next-month span {
  display: none;
}

.bar {
  margin: 30px 0 0 8px;
}

.bar span {
  background: url("../images/breadcrumb.png") no-repeat center center;
  display: block;
  text-indent: -9999px;
  float: left;
  width: 24px;
}

.bar a {
  float: left;
}

.search {
  margin-top: 15px;
}

.search h2{
  display: none;
}

.search form input {
  float: left;
}

.search form .button-container {
  float: right;
  background: url(../images/btn-grey.png) repeat-x right top;
  margin-left: 5px;
  margin-right: 40px;
}

.search form .button-container input {
  background: none;
  padding-left: 0;
}

/**HOME SITE
/************************************************************************/
#content.home-index
{
  padding-bottom: 0px;
}
#content.home-index div.product-box,
#content.standardProductSale-index div.product-box
{
  display:inline-block;
  vertical-align:top;
  *display:inline;
  zoom:1;
  width:351px;
  margin-right:11px;
  margin-bottom: 10px;
  background-color: #FFF;
  min-height: 190px;
  border: 1px solid #CCCCCC;
}

#content.home-index div.product-box.last,
#content.standardProductSale-index div.product-box.last
{
  margin-right:0;
}
#content.home-index div.product-box h2,
#content.home-index div.product-box-single h2,
#content.standardProductSale-index div.product-box h2,
#content.standardProductSale-index div.product-box-single h2,
#content.home-index div.product-box h3,
#content.home-index div.product-box-single h3,
#content.standardProductSale-index div.product-box h3,
#content.standardProductSale-index div.product-box-single h3,
#content.home-index div.product-box ul,
#content.home-index div.product-box-single ul,
#content.standardProductSale-index div.product-box ul,
#content.standardProductSale-index div.product-box-single ul
{
  margin:10px;
}
#content.home-index div.product-box p,
#content.standardProductSale-index div.product-box p
{
  margin: 0 10px 10px;
}

div.product-box a img
{
  width: 100%;
}

div.product-box a
{
  padding-left: 0 !important;
  background-image: none !important;
}

div.product-box p a
{
  padding-left: 10px !important;
  background: url("../images/link-arrow-red.png") no-repeat scroll left center transparent !important;
}

/**LOGIN
/************************************************************************/


#sidebar .box .login {
  overflow:hidden;
  position: relative;
  padding: 8px;
  background-color: #fff;
}
#sidebar .box .login input.text{
  border:1px solid #A5ACB2;
  padding:2px;	
  font-size:11px;
  margin-bottom: 10px;
}

#sidebar .box .login .tooltip {
  top: 8px;
  right: 8px;
  position: absolute;
  cursor: help;
}

.account_unconfirmed_warning {
  color: #f00;
  padding: 7px;
  margin: 10px 0;
  background: #e67332; /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2NzMzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMjQzMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #e67332 0%, #e24329 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e67332), color-stop(100%,#e24329)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e67332 0%,#e24329 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e67332 0%,#e24329 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e67332 0%,#e24329 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e67332 0%,#e24329 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67332', endColorstr='#e24329',GradientType=0 ); /* IE6-8 */
}

input.shows-title-as-hint
{
  color:#CCCCCC;
}

#sidebar .box .login input#signin_username,
#sidebar .box .login input#signin_password {
  margin-bottom:10px;
}

#sidebar .box .login p.password {
  clear:both;
  margin-top: 45px;
  line-height:150%;
}

#sidebar .box .login p.password a {
  background:url(../images/link-arrow-red.png) no-repeat left center;
  padding-left:10px;
}
#sidebar .box .login  ul.link-list li ~ li {
  margin-top:3px;
}
#sidebar .box .login  ul.link-list a {
  background:url(../images/link-arrow-red.png) no-repeat left center;
  padding-left:10px;
}

#sidebar .box .login .button-container,
#sidebar .box .login  ul.link-list  {
  margin-top:10px;
}

.dbregio_customer_login_info {
  background-color: #FFFFFF !important;
  border: 1px solid #DFDFDF !important;
  padding: 20px !important;
  margin: 10px;
  position: absolute;
  text-align: left !important;
  width: 320px;
  z-index: 10000;
}


/**SHOPING CART
/************************************************************************/

#sidebar .box .cart { 
  overflow:hidden;
  padding: 8px;
  background: url("../images/context-bg.png") no-repeat scroll left bottom #FFFFFF;
}
#sidebar .box .cart h2 { 
  background:url(../images/cart_icon.png) no-repeat left center;
  padding-left: 30px;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bold;
}

#sidebar .box .cart .article-count { 
  margin-top: 10px;
}
#sidebar .box .cart .article-count,
#sidebar .box .cart .article-total {
  display:inline-block;
  /*  vertical-align:top;*/
  *display:inline;
  zoom:1;
}

#sidebar .box .cart .article-count {
  /*  width:107px;*/
  padding-left: 30px;
}
#sidebar .box .cart .article-total {
  /*  width:80px;*/
}
#sidebar .box .cart .article-total span.vat {
  font-size:11px;
  color:#999999;
  display:inline-block;
  vertical-align:top;
  *display:inline;
  zoom:1;
}

#sidebar .box .cart .button-container {
  margin-top:10px;
}

#sidebar .box .cart .button-container {
  background:url(../images/btn-grey.png) repeat-x right top;
  height:23px;
  border:0;
  cursor:pointer;
  padding:0 12px 0 8px;
  display:block;
  float:left;
  line-height:22px;
  margin-left: 30px;
}
#sidebar .box .cart .button-container:hover{
  background:url(../images/btn-grey.png) repeat-x right -23px;
  border-left:1px solid #727272;
}

div.presentation-block div.field label[for=customer_password_old_password],
div.presentation-block div.field label[for=customer_password_password],
div.presentation-block div.field label[for=customer_password_password2],
div.presentation-block div.field label[for=customer_properties_password_reset_auth_old_password],
div.presentation-block div.field label[for=customer_properties_password_reset_auth_question],
div.presentation-block div.field label[for=customer_properties_password_reset_auth_answer]{
  width: 211px;
}

#presentation-block-personal-data-3-auth-question,
#presentation-block-personal-data-3-password {
  background-color: white;
  padding: 10px;
  border: 1px solid silver;
}

div.presentation-block div.button-helper {
  margin-bottom: 20px;
}
.content-section div.presentation-block
{
  margin-bottom: 0;
}

div.presentation-block div.field div.field-widget {
    display: inline-block;
}

#customer_password_password2,
#customer_password_password {
  margin-right: 5px;
}

div.personal_data-loginCredentials div.content-section p.success {
  color: #FF0000;
  margin-bottom: 8px;
}

#sidebar.index .box .cart .article-count  {
  width:180px
}

#content .cart-content.empty a
{
  background-image: url("../images/btn-arrow-white.png");
}

/**Produkt wählen
/************************************************************************/

#content .cms-content {
  padding-right: 10px;
  word-break: break-word;
}

#content.standardProductSale-show .options  {
  margin-top:20px;
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 15px 10px 15px 10px;
}

#content.standardProductSale-show  .presentation-block .field label,
#content.standardProductSale-show  .presentation-block .field .field-widget  {
  display:inline-block;
  vertical-align:top;
  *display:inline;
  zoom:1;
  width:190px;
}
#content.standardProductSale-show  .presentation-block .field .field-widget  {
  width:240px;
  vertical-align:middle;
}

#content.standardProductSale-show  .presentation-block .field   {
  margin-bottom:7px;
}



#content.standardProductSale-show .price {
  font-size:14px;
  font-weight:bold;
  padding: 10px;
  background-color: #e2e2e2;
  border: 1px solid #ccc;
  border-top: none;
  /*  margin-top:20px;*/
}

#content.standardProductSale-show .price .key {
  padding-right:148px;
}

select#product_validation_date_date
{
  width: 105px;
}

select#product_validation_date_hour
{
  width: 50px;
}

select#product_validation_date_minute
{
  width: 50px;
}

div.personalization_identitycard_number
{
  width: 210px;
  margin-top: 5px;
}

div.personalization_identitycard_number input
{
  width: 55px;
  margin-left: 10px;
}

div.presentation-block div.field label,
div.presentation-block div.field a
{
  display: inline-block;
  margin-top: 5px;
}

div.presentation-block h2
{
  margin-top: 5px;
}

div.presentation-block div.first_name_shibboleth,
div.presentation-block div.last_name_shibboleth,
div.presentation-block div.birthday_shibboleth
{
    display: none !important;
}

#ticket_options .date-part
{
  padding: 3px 0;
}

/**Relationsearch
/************************************************************************/

div.relation_search_result_box h3
{
  display: none;
}

table.relation_search_result
{
  width: 100%;
  border-collapse: collapse;
}

table.relation_search_result th
{
  background-color: #E0E0E0;
  padding: 5px;
}

table.relation_search_result td
{
  padding: 10px 5px;
}

div.product_details_wrapper div.product_details
{
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
}

/* Distribution-Method-DropDown */

#shop-content table.relation_search_result
{
  position: relative;
  /*z-index: 60;*/
}

div.distribution-select
{
  position: relative;
  z-index: 70;
}
div.distribution-select select
{
  width: 130px;
}

div.dropdown-container
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: url(about:blank);
  z-index: 80;
}

div.dropdown-container ul.dropdown
{
  z-index: 2000;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #C8C5B9;
  display: none;
}


div.droppeddown ul.dropdown
{
  display: block;
}


div.dropdown-container ul.dropdown li
{
  z-index: 2001;
  padding:2px 10px;
  cursor: pointer;
  white-space: nowrap;
}

div.dropdown-container ul.dropdown li:hover
{
  background-color: #CCCCCC;
}


div.dropdown-container ul.dropdown li img
{
  vertical-align: middle;
  margin-right: 10px;
}


/**CART CONTENT 
/************************************************************************/

#content .order_confirmation_cart-content .cart,
.orderList table.cart
{
  width: 100%;
}

#content .cart-content  thead th,
#content.order_overview-index  thead th,
#content .order_confirmation_cart-content thead th
{
  background:#878C96;
  padding:8px 10px;
  color:#FFF;
}

#content .cart-content  tbody td,
#content.order_overview-index  tbody td,
#content .order_confirmation_cart-content tbody td  {
  /*  background:#F4F4F4;*/
  padding:8px 10px;
  vertical-align:top;
}

#content .cart-content table {
  border: 1px solid #ccc;
}

#content .cart-content  tbody td .mwst,
#content.order_overview-index  tbody td .mwst,
#content .order_confirmation_cart-content tbody td mwst   {
  color:#999;
  font-size:11px;
}

#content .cart-content  tbody tr.total th,
#content .cart-content  tbody tr.total td,
#content.order_overview-index  tbody tr.total th,
#content.order_overview-index  tbody tr.total td,
#content .order_confirmation_cart-content tbody tr.total td,
#content .order_confirmation_cart-content tbody tr.total th {
  background:#E0E0E0;
}

#content .cart-content  tbody tr.mwst th,
#content .cart-content  tbody tr.mwst td, 
#content.order_overview-index  tbody tr.mwst th,
#content.order_overview-index  tbody tr.mwst td,
#content .order_confirmation_cart-content tbody tr.mwst td,
#content .order_confirmation_cart-content tbody tr.mwst th   {
  background:#E0E0E0;
  color:#999999;
  font-size:11px;
  padding-top:0;
}
#content .cart-content  tbody tr.total th,
#content.order_overview-index   tbody tr.total th,
#content .order_confirmation_cart-content  tbody tr.total th {
  padding:0 10px;
  font-weight:bold;
}

#content .cart-content  tbody tr.total td.total,
#content.order_overview-index tbody tr.total td.total,
#content .order_confirmation_cart-content tbody tr.total td.total  {
  font-weight:bold;
}


#content .cart-content  .button-helper-cancel {
  background:url(../images/btn-grey.png) repeat-x right top;
  height:23px;
  border:0;
  cursor:pointer;
  padding:0 12px 0 8px;
  display:block;
  float:left;
  line-height:22px;
}
#content .cart-content  .button-helper-cancel:hover{
  background:url(../images/btn-grey.png) repeat-x right -23px;
  border-left:1px solid #727272;
}

#content .cart-content  .button-helper-cancel a {
  background:none;
  padding:0;
}

#content .actions .right {
  width:220px;
}


#content .actions .right .button-helper a {
  background:url(../images/btn-arrow-white.png)  no-repeat left center;
  padding-left:20px;
}

#content .actions .right .button-helper ~ .button-helper {
  margin-top:10px;
  clear: both;
}

/**SHOP SIGIN
/************************************************************************/


#content .shop-signin .username,
#content .shop-signin .password {
  display:inline-block;
  vertical-align:top;
  *display:inline;
  zoom:1;
  margin-right:10px;
}

#content .shop-signin .username label,
#content .shop-signin .password label{
  display:block;
}
#content .shop-signin .username input,
#content .shop-signin .password input {
  border:1px solid #CECECE;
  padding:3px;
  width:240px;
}

#content .shop-signin.register, #content .shop-signin.anonymous, #content .shop-signin.login{
  margin-top:30px;
  background-color: #e2e2e2;
  padding: 15px 10px;
}

#content .shop-signin.login {
  margin-top: 0;
}


#content .shop-signin.login .cell.button,
#content .shop-signin.register .cell.button,
#content .shop-signin.anonymous .cell.button {
  background:url(../images/btn-red.png) repeat-x right top;
  height:23px;
  border:0;
  cursor:pointer;
  padding:0 12px 0 8px;
  display:block;
  float:left;
  line-height:22px;
  margin:13px 0;
}
#content .shop-signin.login .cell.button {
  float: right;
  display:inline-block;
  vertical-align:top;
  *display:inline;
  zoom:1;
  width:77px;
}

#content .shop-signin.register .cell.button, #content .shop-signin.anonymous .cell.button{
  position: absolute;
  right: -228px;
  top: 0;
  margin: 0;
}
#content .shop-signin.register .cell.last{
  margin-top: 20px;
}
#content .shop-signin.register .groupbox.register, #content .shop-signin.anonymous .groupbox.anonymous_customer {
  position: relative;
  width: 470px; 
}

#content .shop-signin.login .cell.button:hover,
#content .shop-signin.register .cell.button:hover,
#content .shop-signin.anonymous .cell.button:hover {
  background:url(../images/btn-red.png) repeat-x right -23px;
  border-left:1px solid #727272;
}

#content .shop-signin.login .cell.last,
#content .shop-signin.register .cell.last,
#content .shop-signin.anonymous .cell.last {
  clear:both;
  line-height: 17px;
}

#content .shop-signin.login .cell.button a,
#content .shop-signin.register .cell.button a,
#content .shop-signin.anonymous .cell.button a {
  background:url(../images/btn-arrow-white.png)  no-repeat left center;
  padding-left:20px;
}


#content .password_request-content form {
  margin-top:10px;
}

#content .password_request-content label
{
    width: 180px;
    display: inline-block;
}

#content .password_request-content p{
  margin: 10px 0;
}

/**PERSONAL DATA
/************************************************************************/
#content .personal-data table.personal-data-1,
#content .personal-data table.personal-data-2
{
  padding-left: 0;
  float: none;
  margin-bottom: 0;
  margin-top: 0;
}

#content.personal_data-register .content-section, 
#content.personal_data-modify .content-section{
  border: 1px solid #cecece;
  padding: 20px 10px;
  background-color: #fff;
}
#content.personal_data-register form h1, 
#content.personal_data-modify form h1 {
  margin-top: 40px;
}
#content.personal_data-register form h1:first-child, 
#content.personal_data-modify form h1:first-child {
  margin-top: 0;
}
#content.personal_data-register .content-section .field label,
#content.personal_data-register .content-section .field .field-widget,
#content.personal_data-modify  .content-section .field label,
#content.personal_data-modify  .content-section .field .field-widget,
#content.personal_data-anonymousCustomer  .content-section .field label,
#content.personal_data-anonymousCustomer  .content-section .field .field-widget
{
  display:inline-block;
  vertical-align:top;
  *display:inline;
  zoom:1;
  width:220px;
}

#content.personal_data-register .content-section .field,
#content.personal_data-modify .content-section .field,
#content.personal_data-anonymousCustomer .content-section .field
{
  margin-bottom:7px;
}

#content.personal_data-anonymousCustomer .content-section  div.payment-data div.account_owner,
#content.personal_data-anonymousCustomer .content-section  div.payment-data div.bank_number,
#content.personal_data-anonymousCustomer .content-section  div.payment-data div.account_number {
  margin: 10px 0;
}

#content.personal_data-anonymousCustomer .content-section  div.payment-data p {
  margin: 15px 0;
}

#content.personal_data-anonymousCustomer .content-section  div.payment-data div.method label,
#content.personal_data-anonymousCustomer .content-section  div.payment-data div.pass_written_form label,
#content.personal_data-anonymousCustomer .content-section  div.payment-data div.direct_debit_auth label,
#content.personal_data-anonymousCustomer .content-section  div.payment-data div.account_owner label,
#content.personal_data-anonymousCustomer .content-section  div.payment-data div.bank_number label,
#content.personal_data-anonymousCustomer .content-section  div.payment-data div.account_number label {
  font-weight: bold
}

#content.personal_data-anonymousCustomer .content-section  div.payment-data .pre-notification {
  margin-left: 20px;
}

#content.personal_data-anonymousCustomer .content-section  div.payment-data p {
  display: inline;
}

#content.personal_data-display .content-section{
  border: 1px solid #cecece;
  padding: 20px 0 0 0;
  background-color: #fff;
}

#content.personal_data-display .content-section.personal_data-registerConfirmation{
    padding: 10px 0;
    margin-bottom: 15px;
}

#content.personal_data-anonymousCustomer .content-section .personal-data-1{
  border: 1px solid #cecece;
  border-bottom: none;
  background-color: #fff;
  padding: 20px 10px 0 10px;
  float: none;
  margin-bottom: 0;
}

#content.personal_data-anonymousCustomer .presentation-block .field {
  width: auto;
}

div.personal_data-anonymousCustomer div.presentation-block select.months {
  width: 93px;
}


#content.personal_data-anonymousCustomer .content-section .personal-data-1 .field.company {
  margin-bottom: 0;
}

#content.personal_data-anonymousCustomer .content-section .personal-data-2{
  border: 1px solid #cecece;
  border-top: none;
  background-color: #fff;
  padding: 0 10px 20px 10px;
  margin-bottom: 20px;
  float: none;
  margin-top: 0;
}

#content.personal_data-anonymousCustomer .content-section .personal-data-2 .field:first-child {
  margin-top: 0;
  padding-top: 7px;
}

#content.personal_data-anonymousCustomer .content-section .payment-data {
  border: 1px solid #cecece;
  padding: 20px 10px;
}

#content.personal_data-display .content-section p {
  padding: 0 10px;
}

#content.personal_data-display .personal-data {
  margin:20px 0;
  padding: 0 10px;
}


#content.personal_data-display .personal-data .data-display th {
  width:220px;
  padding:5px;
}

#content a.personal_data_change {
  color:#333;
}

#content.personal_data-modify .content-section + h1 {
  margin-top:30px;

}
#content.personal_data-display p.change_data_link_container {
  display: block;
  padding: 10px 10px;
  border-top: 1px solid #cecece;

}

.presentation-block.personal-data-1 .field-widget select,
.presentation-block.personal-data-2 .field-widget select,
.presentation-block.personal-data-3 .field-widget select {
  width: 212px;
}

.presentation-block.personal-data-1 .field-widget select.years {
  width: 63px;
}

/**PAYMENT METHOD
/************************************************************************/
#content .payments a.button,
#content .payments input.button {
  color: #333333;
  background: url("../images/link-arrow-red.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}

#content .payment_data > h1 + p {
  margin-bottom: 20px;
}

#content .payments #payment_logpay_elv {
  min-width: 20%;
  width: auto;
}

#content .payments #payment_logpay_elv h4.error,
#content .payments #payment_logpay_elv ul.error-list {
  text-align: left;
}

#content .payments #payment_logpay_elv .payment-method-select-button {
  position: absolute;
  top: 267px;
  width: auto;
  right: 10px;
}

#content #payment_method_block_logpay_sepa table.data-display th {
  vertical-align: top;
  padding-top: 6px;
}

#content #payment_method_block_logpay_sepa table.data-display label[for="logpay_sepa_direct_debit_auth"] {
  display: inline-block;
  margin-top: 5px;
}

#content .payment-data .field.direct_debit_auth,
#content .payment-data .field.pass_written_form {
  width: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#content .payment-data .field.direct_debit_auth #customer_data_payment_payment_parameter_direct_debit_auth,
#content .payment-data .field.pass_written_form #customer_data_payment_payment_parameter_pass_written_form {
  float: left;
  margin-bottom: 80px;
  margin-right: 15px;
  margin-top: 5px;
}
input#logpay_sepa_data_transfer, input#logpay_sepa_credit_worthiness
{
  float: left;
  margin-right: 15px;
}

#content .payment-data table.data-display .tooltip
{
  display:table-cell;
}

#content .payment-data .field.pass_written_form #customer_data_payment_payment_parameter_pass_written_form {
  margin-bottom: 15px;
}

#content .payment-data .field.direct_debit_auth #direct_debit_auth_tooltip,
#content .payment-data .field.pass_written_form #pass_written_form_tooltip {
  display: block;
  width: 461px;
  margin-top: 5px;

}

#content #payment_method_block_logpay_sepa table.data-display #logpay_sepa_direct_debit_auth,
#content #payment_method_block_logpay_sepa table.data-display #direct_debit_auth_tooltip
{
  margin-top: 5px;
}

#content #payment_method_block_logpay_sepa table.data-display {
  padding-left: 0;
  margin-left: 10px;/*für IE notwendig*/
}

#content.payment_data-index .payment-method {
  margin-bottom: 20px;
  border-bottom: 1px solid #D9D6CE;
}

#content.payment_data-index .payment-method h2 {
  margin-bottom: 0;
}

#content.payment_data-index .payment-method-delete-button
{
    display: none;
}

#content.payment_data-index div.payment-method-block-saved
{
    position: relative;
}

#content.payment_data-index form#payment_dummy_dummy .payment-method-select-button {
  margin-bottom: 16px;
  right: -3px;
  top: 40px;
}

#payment_method_block_logpay_sepa div.payment-method-select-button {
  float: right;
}

#content.payment_data-index .payment-method-select-button input.button {
  background: url(../images/link-arrow-red.png) no-repeat left center;
  color: #333;
  padding-left: 16px;
}

#content.payment_data-index .payment-method-open-button a.button {
  background: url(../images/link-arrow-red.png) no-repeat left center;
  color: #333;
  padding-left: 20px;
}

#content.payment_data-index .payment-method-block-parameter .payment-data th {
  width: 220px;
  padding-bottom: 16px;
  vertical-align: top;
  padding-top: 3px;
}

#content select#logpay_visa_expiry_date_month,
#content select#logpay_visa_expiry_date_year,
#content select#logpay_mastercard_expiry_date_month,
#content select#logpay_mastercard_expiry_date_year {
  width: 105px;
}

#content.payment_data-index .payment-method-block-parameter .payment-data #logpay_visa_cvc_tooltip,
#content.payment_data-index .payment-method-block-parameter .payment-data #logpay_mastercard_cvc_tooltip {
  display: inline;
}

#content.payment_data-index .payment-method-delete-button a {
  color: #333333;
}

#content.payment_data-index .payment-method-delete-button {
  padding-top: 8px;
}

.payment_data-index div.payment-method-description
{
  display: inline-block;
  float: none;
}

.payment_data-index .payment-method-block-saved form
{
  float: right;
  margin-top: 15px;
}

.payment_data-index .payment-method-block-saved form .payment-method-select-button
{
  padding-right: 0;
}

#sidebar .box.widget.payment {
  padding: 8px;
}

div.payment-method-block img.payment-method-logo,
.small-img
{
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
  margin-right: 10px;
}

div.payment-method-block div.payment-method-description {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 80%;
}

div.payment-method-block div.payment-method-description + form {
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

div.payment-method-block div.payment-method-description + form .payment-method-open-button {
  right: 5px;
  position: relative;
  top: 46px;
  bottom: auto;
}

div.payment-data table.data-display td > input#logpay_sepa_pass_written_form {
    float: left;
    margin-bottom: 35px;
    margin-right: 15px;
}

div.payment-data table.data-display td > input#logpay_sepa_direct_debit_auth {
    float: left;
    margin-bottom: 80px;
    margin-right: 15px;
}

div.payment-method-block div.payment-method-select-button,
div.payment-method-block div.payment-method-open-button {
  right: 10px;
  text-align: right;
  position: relative;
  bottom: auto;
}

.payment_data-index div.payment-method-block div.payment-method-open-button {
    right: 6px;
}


div.payment-method-block div.payment-method-open-button {
  top: 46px;
}

div.payment-method div.payment-method-delete-button a.payment_delete_button {
  color: black;
}

.payments div.payment-method-block > .dedicated-clear {
  display: block;
}

div.payment-method-block div.payment-method-description p {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  zoom: 1;
  width: 400px;
  margin-top: 5px;
}

div.payment-method-block div.payment-method-description p:last-of-type {
  width: 560px;
}

div.payment-method-block div.dedicated-clear {
  display: none;
}

div.payment-method-block div.payment-data {
  float: none;
}

div.payment-method-block div.payment-data table.data-display{
  margin-bottom: 0;
}

div.payment-method-block div#payment_method_block_parameter_logpay_sepa div.content-section.payment-data {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}

div#payment_method_block_parameter_logpay_sepa p
{
    margin-top: 10px;
}

/*---------Payment Manage --------------------*/

div.payment_data-manage .white-box,
div.payment_data-index .white-box
{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 20px 10px;
    margin-bottom: 20px;
}

div.payment_data-manage .white-box h3,
div.payment_data-index .white-box h3
{
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
}

.small-img
{
    height: 30px;
    margin-bottom: 10px;
}

div.payment_data-manage .white-box .payment-method-block-saved
{
    position: relative;
}

div.payment_data-manage .white-box .payment-method-delete-button
{
    float: none;
    position: absolute;
    top: 15px;
    right: 4px;
}

/**ORDER CONFIRMATION
/************************************************************************/
.order_confirmation-content .order_confirmation{
  margin-bottom: 30px;
}
#content.order_confirmation-index .printticket-download a {
  background:none;
  padding:0;
}
#content.order_confirmation-index .printticket-download {
  float:right;
  margin-left: 20px;
}

#content.order_confirmation-index .order_confirmation > p {
  width:490px;
}

#content.order_confirmation-index .order_confirmation_cart-content {
  clear:both;
}

#content.order_confirmation-index table.cart {
  margin-top:20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

/**PERSONAL DATA ORDER LIST
/************************************************************************/
#content.personal_data-orderList .order  ~ .order {
  margin-top:40px;
}
#content.personal_data-orderList .order {
  border: 1px solid #ccc;
  background-color: #fff;
}
#content.personal_data-orderList .order h2 {
  padding: 20px 10px 0 10px;
}
#content.personal_data-orderList .order .order_details table.key-value {
  display: block;
  margin: 0 10px;
}

#content.personal_data-orderList .order .order_details table.key-value th {
  padding-bottom:3px;
  width:202px;

}

#content.personal_data-orderList .order .order_details table.cart th {
  background:#878C96;
  padding:8px 10px;
  color:#FFF;
}

#content.personal_data-orderList .order .order_details table.cart  td {
  background:#E0E0E0;
  background:#F4F4F4;
  padding:8px 10px;
  vertical-align:top;
}

/**STANDARD PRODUCT SALE INDEX
/************************************************************************/
#content.standardProductSale-index .product-category  h2 {
  margin: 20px 0 0;
}

/**CONTACT FORM
/************************************************************************/
#content.contactForm-index  .shop-contact-form-content .field label,
#content.contactForm-index  .shop-contact-form-content .field .field-widget,
#content.contactForm-send  .shop-contact-form-content .field label,
#content.contactForm-send  .shop-contact-form-content .field .field-widget
{
  display:inline-block;
  vertical-align:top;
  *display:inline;
  zoom:1;
  width:220px;
}


#content.contactForm-index  .shop-contact-form-content .field,
#content.contactForm-send   .shop-contact-form-content .field  {
  padding-top:7px;
  padding-bottom:6px;
}

#content.contactForm-index  .shop-contact-form-content .field.message  .field-widget,
#content.contactForm-send  .shop-contact-form-content .field.message  .field-widget   {
  display:block;
}

#content.contactForm-index  .shop-contact-form-content .field.message  .field-widget textarea,
#content.contactForm-send  .shop-contact-form-content .field.message  .field-widget textarea {
  width:423px;
  border: 1px solid #CECECE;
  padding: 3px;
}

/**Order Overview
/************************************************************************/

div.order_overview-content form div.term-field{
  padding-bottom: 5px;
}

div.order_overview-content form div.term-field-wrapper {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 40px;
}

p.binding-contract-hint {
  margin-top: 15px;
}

div.order_overview-content form p.error {
  background-image: url("../images/attention.png");
  background-repeat: no-repeat;
  line-height: 20px;
  padding-left: 25px;
  margin-bottom: 1em;
}

ul.error-list label, tr.error td label, tr.error th label, tr td.error label, tr th.error label, div.error label, p.error label, p.disabled-reason {
  color: #FF0000;
}

div.order_overview-index div#order_overview_customer_delivery_address,
div.order_overview-index div#order_overview_customer_distribution
{
  display:inline-block;
  vertical-align:top;
  *display:inline;
  zoom:1;
  width:50%;
}

div.order_overview-index div#order_overview_customer_contract_address,
div.order_overview-index div#order_overview_customer_payment
{
  display:inline-block;
  vertical-align:top;
  *display:inline;
  zoom:1;
  width:50%;
  position: relative;
}

div.order_overview-index hr
{
    display: none;
  
}

div.order_overview-index div#order_overview_customer_address_payment{
  border: 1px solid #ccc;
  border-top: 0;
  background-color: #fff;
  margin-bottom: 20px;
}

div.order_overview-index div#order_overview_customer_address, div#order_overview_customer_payment
{
  margin-bottom: 20px;
}

div.order_overview-index div#order_overview_customer_address_payment a
{
  font-weight: normal;
  position: absolute;
  right: 20px;
  bottom: 0;
}

div.order_overview-index div.term-field
{
  vertical-align: top;
}

div.order_overview-index div.term-field input
{
  position: absolute;
}

div.order_overview-index div.term-field label
{
  display: inline-block;
  width: 500px;
  margin-left: 20px;
}

div.order_overview-index div.term-field-wrapper div.term-field label
{
  width: auto;
}

div#order_overview_customer_address_payment h2 {
  background-color: #878c96;
  margin-bottom: 0;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
}

.order_overview-content table.cart {
  border: 1px solid #ccc;
}

div#order_overview_customer_address_payment div.content {
  padding: 20px 10px 0 10px;
}

.order_overview-content form > .dedicated-clear {
  display: none;
}

/**Paystream
/************************************************************************/

div.content logPayPayment-startPaystreamPayment table th,td
{
  padding: 5px;
}

div.logPayPayment-startPaystreamPayment div.payment-method-select-button
{
    background: url("../images/btn-red.png") repeat-x scroll right top transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 23px;
    line-height: 22px;
    padding: 0 12px 0 8px;
    text-align: right;
}

div.logPayPayment-startPaystreamPayment div.payment-method-select-button:hover
 {
	background:url(../images/btn-red.png) repeat-x right -23px;
	border-left:1px solid #727272;
}

div#CVV_tooltip
{
  float: right;
  padding: 5px;
}

div.content #paystream_form{
  padding: 15px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 10px;
}

div.content #paystream_form .button-container{
  display: inline-block;
  float: none;
  margin-top: 20px;
}

div.content #paystream_form .payment-method-select-button{
  float: right;
  margin-top: 35px;
}
/**Product-List
/************************************************************************/

div.product-category div.product
{
  margin-top: 20px;
  overflow: hidden;
  border: 1px solid #CCCCCC;
  padding: 10px;
  background-color: #fff;
}

div.product-category div.product p
{
  margin-top: 10px;
}

/**No Cookies
/************************************************************************/
div.no_cookies
{
  display: none;
  padding: 10px;
  border: 1px solid #FF0000;
  margin-bottom: 20px;
}

div.no_cookies p
{
  padding: 0 !important;
  margin: 0;
}

div.no_cookies h4.error
{
  background-color: transparent !important;
  background-image: url("../images/attention.png") !important;
  background-repeat: no-repeat !important;
  clear: both !important;
  font-weight: bold !important;
  line-height: 20px !important;
  margin-bottom: 5px !important;
  padding: 0 0 0 25px !important;
  color: #FF0000;
}

div.no_cookies a
{
  color: #FF0000;
  font-weight: bold;
}


/**Contact Form
/************************************************************************/

.shop-contact-form-content .presentation-block {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 10px;
  background-color: #fff;
}

.shop-contact-form-content .presentation-block.presentation-block-shop-contact-form-1{
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.shop-contact-form-content .presentation-block.presentation-block-shop-contact-form-4{
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

body .shop-contact-form-content div.presentation-block
{
  margin-bottom: 0;
}
/**
 * OVERLAYER
 */
 

 #shop-process-overlay 
{
  z-index:10000000000;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background:#000;
  opacity:0.45;
  -moz-opacity:0.45;
  filter:alpha(opacity=45);
}

#shop-process-overlay div#shop-process-overlay-center 
{
  width: 100%;
  position: relative;
  top: 200px;
  text-align: center;
  color: white;
}

#shop-process-overlay div#shop-process-overlay-center h1,
#shop-process-overlay div#shop-process-overlay-center h2
{
  color: white;
}

.body {
  min-height: 250px;
}

 #shop-process-overlay  a {
   text-decoration: underline;
   color: white;
 }

/*----------- CMS Textseiten ---------------- */

#content.cmsFrontend-showByType
{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 10px;
    width: 695px;
}

.shop-contact-form-content div.presentation-block div.field
{
  margin-bottom: 0;
  margin-top: 0;
}