.left {
  float: left;
}

.right {
  float: right;
}

a {
	text-decoration:none;
	color:#333333;
}

#content a {
	background:url(../images/link-arrow-red.png) no-repeat left center;
	padding-left:20px;
}

h1 {
		font-size:21px;
		font-weight:bold;
		margin-bottom:15px;
}

h2 {
	font-size:15px;
	font-weight:bold;
	margin-bottom:20px;
}

h3 {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h4.error {
    background-color: transparent !important;
    background-image: url(../images/attention.png) !important;
    background-repeat: no-repeat !important;
    clear: both !important;
    color: #000000 !important;
    font-weight: bold !important;
    line-height: 20px !important;
    margin-bottom: 5px !important;
    padding: 0 0 0 25px !important;
}
strong {
  font-size: 13px;
}

p {
	line-height:140%;
}
input[type=text], input[type=password], input[type=email], input[type=tel] {
	border:1px solid #CECECE;
	padding:3px;
	width:212px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}
select {
	border:1px solid #CECECE;
	padding:3px;
	width:212px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}
input.button , a.button {
			background:url(../images/btn-arrow-white.png)  no-repeat left center;
			padding-left:20px;
			color:#FFF;
			border:0;
			cursor:pointer;
			height:20px;
}

.button-container, .button-helper {
	background:url(../images/btn-red.png) repeat-x right top;
	height:23px;
	border:0;
	cursor:pointer;
	padding:0 12px 0 8px;
	display:block;
	float:left;
	line-height:22px;
	text-align:right;
}

.button-container:hover ,  .button-helper:hover {
	background:url(../images/btn-red.png) repeat-x right -23px;
	border-left:1px solid #727272;
}

#content .actions .right {
	float:right;
}

#content .actions .right  > div{
	float:right;
}

div.payment-method-block {
  background-color: #e2e2e2;
  border-bottom: none;
  padding: 20px 10px;
  width: auto;
  float: none;
  margin-top: 20px;
}

div.payment-method-block div.payment-method-select-button, 
div.payment-method-block div.payment-method-open-button {
  right: 10px;
}

div.content .cms-content-befor-tabs ul {
  margin-bottom: 10px;
  margin-left: 15px;
}

div.content .cms-content-befor-tabs ul li {
  list-style-image: url("../images/list-image.png");
}

div.content .cms-content-befor-tabs h2 {
  margin-bottom: 10px;
  margin-top: 0px;
}

div.content .cms-content-befor-tabs h2 ~ h2 {
  margin-bottom: 10px;
  margin-top: 30px;
}

#content.personal_data-registerConfirmation .button-helper #confirmation_button_next {
  background-image: url("../images/btn-arrow-white.png");
}

div.personal_data-anonymousCustomer div.presentation-block input[type="text"],
div.personal_data-anonymousCustomer div.presentation-block input[type="tel"],
div.personal_data-anonymousCustomer div.presentation-block input[type="email"],
div.personal_data-anonymousCustomer div.presentation-block input[type="password"],
div.personal_data-modify div.presentation-block input[type="text"],
div.personal_data-modify div.presentation-block input[type="tel"],
div.personal_data-modify div.presentation-block input[type="email"],
div.personal_data-modify div.presentation-block input[type="password"],
div.personal_data-register div.presentation-block input[type="text"],
div.personal_data-register div.presentation-block input[type="tel"],
div.personal_data-register div.presentation-block input[type="email"],
div.personal_data-register div.presentation-block input[type="password"],
div.personal_data-anonymousCustomer div.presentation-block select,
div.personal_data-modify div.presentation-block select,
div.personal_data-register div.presentation-block select
{
  height: 24px;
}

.optional,
.read_only {
  line-height: 24px;
}

p.required-fields
{
	margin-top: 10px;
}