#nav {
    background: #ff0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff0000 0%, #d10302 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(100%,#d10302)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff0000 0%,#d10302 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff0000 0%,#d10302 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff0000 0%,#d10302 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff0000 0%,#d10302 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#d10302',GradientType=0 ); /* IE6-9 */
/*  height:32px;*/
}
#nav ul {
  margin:0;
  padding:0 0 0 12px;
}
#nav ul li {
  padding: 10px 0;
  list-style:none;
  display:inline-block;
  vertical-align:top;
  *display:inline;
  zoom:1;
}
#nav ul li  ~ li {
  background: url(../images/linie_navi.png) no-repeat left center;
}
#nav ul li.last {
/*  border-left: none;
  float: right;*/
}
#nav ul li a {
  color:#FFF;
  font-size:18px;
  padding:0 10px;
}
#nav ul li.active a {
  font-weight: bold;
}
#nav ul li a.active {
  font-weight:bold;
}

#sidenav ul {
  margin:0;
  padding:8px;
}
#sidenav ul li {
  list-style:none;
}

#sidenav ul li a {
  list-style:none;
} 

#sidenav > ul > li a{
  background: url(../images/subnav-arrow-right-big.png) no-repeat left 5px;
  padding-left:15px;
  font-size: 12px;
  line-height: 20px;
  display: block;
  word-wrap: break-word;
} 

#sidenav > ul li.active > a{
  background: url(../images/subnav-arrow-right-red-big.png) no-repeat left 5px;
  background-size: 10px;
}

#sidenav > ul > li ~ li,
#sidenav > ul > li > ul > li  {
  padding-top:5px;
} 
#sidenav > ul > li > ul {
  margin-left:13px;
} 
#sidenav > ul > li > ul > li a{
  padding-left:13px;
} 
#sidenav > ul > li > ul > li a.active{
  background: url(../images/subnav-active.png) no-repeat left center;
} 

/**SHOPING STEPS
/************************************************************************/

div.content ul.progress-bar {
  background-image: url("../images/progress-bar.png");
  background-position: 0 35px;
  background-repeat: repeat-x;
  list-style-type: none;
  margin-bottom: 40px;
  overflow: hidden;
}
div.content ul.shop_navi li {
  background-position: 50% 100%;
  background-repeat: no-repeat;
  float: left;
  margin-left: 0;
  padding-bottom: 5px;
  text-align: center;
  width: 16.6%;
  height: 40px;
  background-size: 20px;
}
div.content ul.shop_navi li span.step-id {
  display: none;
}
div.content ul.shop_navi li.step-1 {
  background-image: url("../images/1_off.png");
}
div.content ul.shop_navi li.step-1-active {
  background-image: url("../images/1_on.png") !important;
  font-weight: bold;
}
div.content ul.shop_navi li.step-2 {
  background-image: url("../images/2_off.png");
}
div.content ul.shop_navi li.step-2-active {
  background-image: url("../images/2_on.png") !important;
  font-weight: bold;
}
div.content ul.shop_navi li.step-3 {
  background-image: url("../images/3_off.png");
}
div.content ul.shop_navi li.step-3-active {
  background-image: url("../images/3_on.png") !important;
  font-weight: bold;
}
div.content ul.shop_navi li.step-4 {
  background-image: url("../images/4_off.png");
}
div.content ul.shop_navi li.step-4-active {
  background-image: url("../images/4_on.png") !important;
  font-weight: bold;
}
div.content ul.shop_navi li.step-5 {
  background-image: url("../images/5_off.png");
}
div.content ul.shop_navi li.step-5-active {
  background-image: url("../images/5_on.png") !important;
  font-weight: bold;
}
div.content ul.shop_navi li.step-6 {
  background-image: url("../images/6_off.png");
}
div.content ul.shop_navi li.step-6-active {
  background-image: url("../images/6_on.png") !important;
  font-weight: bold;
}
div.content ul.shop_navi li .caption {
  background: none repeat scroll 0 0 transparent;
  display: block;
  height: 40px;
  margin: 0;
  padding: 0;
}

#content ul.shop_navi li a {
  background:none;
  padding:0;
}

/*********Language-Switcher*********/

ul.languages {
  text-align: right;
  margin-right: 36px;
}

ul.languages li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0 5px;
}

ul.languages li:first-child {
  /*padding-right: 10px;*/
  border-right: 1px solid #333;
}

ul.languages li a {
  text-transform: uppercase;
}