/*---------------------------BESTELLSCHRITTE----------------------------------*/

div.progress-bar_cms_content
{
  padding: 20px 0px;
}

div.progress-bar ul.shop_navi
{
  list-style-type:none;
  margin-bottom:0;
  overflow:hidden;
}

div.progress-bar ul.shop_navi li
{
  float:left;
  text-align:center;
  width:16.6%;
  background-position: 49% top;
  background-repeat: no-repeat;
}

div.progress-bar ul.shop_navi li a
{
  color:black;
  font-weight: normal;
  text-decoration: none;
}


div.progress-bar ul.shop_navi li .caption
{
  display: block;
  font-size: 12px;
  padding-top: 30px;
}

div.progress-bar ul.shop_navi li.active .caption
{
  font-weight: bold;
}

div.progress-bar ul.shop_navi li span.step-id
{
  display:none;
}


div.progress-bar ul.shop_navi li.step-1
{
  background-image: url("../layout/images/step-1.png");
}

div.progress-bar ul.shop_navi li.step-1.active
{
  background-image: url("../layout/images/step-1-active.png");
}

div.progress-bar ul.shop_navi li.step-2
{
  background-image: url("../layout/images/step-2.png");
}

div.progress-bar ul.shop_navi li.step-2.active
{
  background-image: url("../layout/images/step-2-active.png");
}

div.progress-bar ul.shop_navi li.step-3
{
  background-image: url("../layout/images/step-3.png");
}

div.progress-bar ul.shop_navi li.step-3.active
{
  background-image: url("../layout/images/step-3-active.png");
}

div.progress-bar ul.shop_navi li.step-4
{
  background-image: url("../layout/images/step-4.png");
}

div.progress-bar ul.shop_navi li.step-4.active
{
  background-image: url("../layout/images/step-4-active.png");
}

div.progress-bar ul.shop_navi li.step-5
{
  background-image: url("../layout/images/step-5.png");
}

div.progress-bar ul.shop_navi li.step-5.active
{
  background-image: url("../layout/images/step-5-active.png");
}

div.progress-bar ul.shop_navi li.step-6
{
  background-image: url("../layout/images/step-6.png");
}

div.progress-bar ul.shop_navi li.step-6.active
{
  background-image: url("../layout/images/step-6-active.png");
}

div.progress-bar ul.shop_navi li.step-7
{
  background-image: url("../layout/images/step-7.png");
}

div.progress-bar ul.shop_navi li.step-7.active
{
  background-image: url("../layout/images/step-7-active.png");
}

/*------------------------------RELATION-SEARCH-------------------------------*/
table.relation-search.relation-search-part-1
{
    float: left;
}

table.relation-search.relation-search-part-2
{
    float: right;
}

div.relation_search_form label,
div.relation_search_form input,
div.relation_search_form select
{
    vertical-align: middle;
}

#relation_search_date,
#relation_search_date_return,
#relation_search_date_range_from,
#relation_search_date_range_to
{
    width: 70px;
}

#relation_search_time,
#relation_search_time_return,
#relation_search_reservation_time,
#relation_search_reservation_return_time
{
    width: 40px;
}


/*-------------------Relation-Serach-Distribution-Dropdown--------------------*/

#shop-content table.relation_search_result
{
    position: relative;
    /*z-index: 60;*/
}

div.distribution-select
{
    position: relative;
    z-index: 70;
}

div.dropdown-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(about:blank);
    z-index: 80;
}

div.dropdown-container ul.dropdown
{
    z-index: 2000;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #C8C5B9;
    display: none;
}


div.droppeddown ul.dropdown
{
    display: block;
}


div.dropdown-container ul.dropdown li
{
    z-index: 2001;
    padding:2px 10px;
    cursor: pointer;
    white-space: nowrap;
}

div.dropdown-container ul.dropdown li:hover
{
    background-color: #CEDE09;
}


div.dropdown-container ul.dropdown li img
{
    vertical-align: middle;
    margin-right: 10px;
}

/*------------------------------Date Picker-----------------------------------*/

a.dp-choose-date
{
    background: url("../layout/images/icon_kalender.png") no-repeat scroll 0 -1px transparent !important;
    display: inline-block !important;
    height: 24px;
    margin-left: 10px;
    margin-top: 3px;
    padding: 0 !important;
    vertical-align: middle;
    width: 26px;
}

a.dp-choose-date span {
    display: none;
}

div.dp-popup
{
    border: 1px solid #e1e1e1;
    float:left;
    background-color:white;
    position:absolute;    
}

div.dp-popup-inline
{
    margin-left:20px;
    position:relative;
}

div.dp-popup h2
{
    text-align: center;
    font-weight: bold;
    color: #535353;
    background-color: #F3F3F3;
    padding:2px;
    margin-bottom:0px;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 100%;
}

div.dp-popup table.jCalendar
{
    margin: 0;
}

div.dp-popup table.jCalendar td,
div.dp-popup table.jCalendar th
{
    padding:2px 4px;
    text-align:center;
}

div.dp-popup table.jCalendar thead th
{
    background-color: #4C4E56;
    color: white;
}

div.dp-popup table.jCalendar td
{
    cursor:hand;
    cursor:pointer;
    color:#535353;
}

div.dp-popup table.jCalendar td.disabled,
div.dp-popup table.jCalendar td.other-month
{
    color: #ccc;
}

div.dp-popup table.jCalendar td.disabled
{
    cursor:default;
}

div.dp-popup table.jCalendar td.today
{
    font-weight:bold;
}

div.dp-popup table.jCalendar td.weekend
{
    background-color:#f3f3f3;
}

div.dp-popup table.jCalendar td.selected
{
    background-color:#4C4E56;
    color: #ffffff;
}

div.dp-popup div.dp-nav-prev
{
    position:absolute;
    top:0px;
    left:0px;
}

div.dp-popup div.dp-nav-prev .disabled,
div.dp-popup div.dp-nav-prev .dp-nav-prev-year,
div.dp-popup div.dp-nav-next .disabled,
div.dp-popup div.dp-nav-next .dp-nav-next-year
{
    display:none;
}

div.dp-popup div.dp-nav-next
{
    position:absolute;
    top:0px;
    right:0px;
}

div.dp-popup a.dp-nav-prev-month,
div.dp-popup a.dp-nav-next-month
{
    display:block;
    width : 14px;
    height: 16px;
    background-repeat: no-repeat;
    background-position:50% 50%;
    margin-top: 5px;
}

div.dp-popup a.dp-nav-prev-month span,
div.dp-popup a.dp-nav-next-month span
{
    display:none;
}

div.dp-popup a.dp-nav-prev-month
{  
    background: url("../images/arrow_left.png") no-repeat scroll 8px 2px transparent;
}  

div.dp-popup a.dp-nav-next-month
{
     background: url("../images/arrow_right.png") no-repeat scroll 0 2px transparent;
}

form#ticket_options div.dp-popup-inline
{
    margin-left: 0;
    margin-bottom: 6px;
}

/*------------------------------AutoComplete--------------------------------- */

.ac_results
{
    color: #333;
    padding: 0px;
    border: 1px solid  #BFD23A;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
    text-align: left;
}

.ac_results ul
{
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}
.ac_results li
{
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;

    overflow: hidden;
}

.ac_results li.ac_over
{
    background-color: #BFD23A;
    color: black;
    /*  text-decoration:underline; */
    *cursor:hand;
    cursor: pointer;
}

.schedule_search_relation_product_customer_info
{
    background-color: #FFFFFF !important;
    border: 1px solid #DFDFDF !important;
    padding: 20px !important;
    margin: 10px;
    position: absolute;
    text-align: center !important;
    width: 300px;
}

/*------------------------------Personal Data--------------------------------- */

div.presentation-block
{
    margin-bottom: 20px;
}

div.personal_data-register div.content-section
{
    clear: both;
}

table.data-display
{
  display: block;
  width: 96%;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

table.personal-data-1,
div.personal-data-1,
div.delivery-1
{
    float: left;
}

table.personal-data-2,
div.personal-data-2,
div.delivery-2
{
    float: right;
}

div.personal_data-modify div.presentation-block div.readonly
{
    padding-top: 3px;
}

div.personal_data-anonymousCustomer div.presentation-block input[type="text"],
div.personal_data-anonymousCustomer div.presentation-block input[type="tel"],
div.personal_data-anonymousCustomer div.presentation-block input[type="email"],
div.personal_data-anonymousCustomer div.presentation-block input[type="password"],
div.personal_data-modify div.presentation-block input[type="text"],
div.personal_data-modify div.presentation-block input[type="tel"],
div.personal_data-modify div.presentation-block input[type="email"],
div.personal_data-modify div.presentation-block input[type="password"],
div.personal_data-register div.presentation-block input[type="text"],
div.personal_data-register div.presentation-block input[type="tel"],
div.personal_data-register div.presentation-block input[type="email"],
div.personal_data-register div.presentation-block input[type="password"]
{
    width: 212px;
}

div.personal_data-anonymousCustomer div.presentation-block select,
div.personal_data-modify div.presentation-block select,
div.personal_data-register div.presentation-block select
{
    width: 214px;
}

div.personal_data-anonymousCustomer h1,
div.personal_data-modify h1
{
    clear: both;
}

div.personal_data-anonymousCustomer h1.payment
{
    border-top: 1px solid #FFFFFF;
    padding-top: 20px;
}

table.data-display th
{
    padding-left: 0;
    font-weight: bold;
    width: 150px;
}

div.payment_data-statement table.data th
{
  padding: 5px 10px;
  text-align: left;
}
div.payment_data-statement table.data td.capture
{
  color: #FF0000;
}
div.payment_data-statement table.data td.refund
{
  color: #00FF00;
}

div.personal_data-anonymousCustomer div.presentation-block select.days,
div.personal_data-modify div.presentation-block select.days,
div.personal_data-register div.presentation-block select.days
{
    width: 49px;
}

div.personal_data-anonymousCustomer div.presentation-block select.months,
div.personal_data-modify div.presentation-block select.months,
div.personal_data-register div.presentation-block select.months
{
    width: 92px;
}

div.personal_data-anonymousCustomer div.presentation-block select.years,
div.personal_data-modify div.presentation-block select.years,
div.personal_data-register div.presentation-block select.years
{
    width: 65px;
}

p.change_data_link_container
{
    clear: both;
}

div.personal_data-display div.content-section p
{
    clear: both;
}

div.personal_data-display div.content-section p.error
{
    color:#F00000
}

div.content-section div.personal-data-1 div.field,
div.content-section div.personal-data-2 div.field,
div.content-section div.delivery-1 div.field,
div.content-section div.delivery-2 div.field
{
    width: 340px;
}

div.presentation-block div.field > label
{
    float: left;
    padding-right: 2px;
    padding-top: 3px;
    width: 110px;
}

div.presentation-block div.field.direct_debit_auth > label,
div.presentation-block div.field.pass_written_form > label
{
  width: 141px;
  padding-bottom: 15px;
}

div.personal_data-anonymousCustomer div#pass_written_form_tooltip,
div.personal_data-anonymousCustomer div#direct_debit_auth_tooltip
{
  display: inline-block;
}

div.presentation-block div.field
{
    clear: both;
    margin-bottom: 6px;
    margin-top: 6px;
}

/* -------------- Customer Confirmation ------------------ */
.customer-activated
{
  width: 100%;
}

.customer-activated .customer-activated-title h3
{
  font-size: 100%;
  font-weight: bold;
}

.customer-activated .customer-activated-title h3
{
  font-size: 100%;
  font-weight: bold;
}