* {
  margin: 0;
  font-family: Verdana, Tahoma, Arial;
  font-size: 100%;
}

body {
  background: transparent url("../images/head_bg.png") top right repeat-x;
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
}

.content {

}

.page
{
 margin: 10px;
 *position: relative;
 *top: 149px;
}

h1,
h3 {
  font-size: 1.2em;
  margin: 0.4em 0;
}

h3 {
  padding: 0.2em 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

h2,
h4 {
  font-size: 1em;
  margin: 0.3em 0;
}

h4.error
{
    background-image:url("../images/attention.png");
    background-repeat:no-repeat;
    clear:both;
    font-weight:bold;
    line-height:20px;
    margin-bottom:5px;
    margin-top: 20px;
    padding-left:25px;
}

ul.error-list
{
    color: red;
}

p, table {
  margin: 0.7em 0.3em;
  font-size: 0.9em;
}

div.head {
    background-image: url("../images/head_bg.png");
    background-color: white;
    background-repeat: repeat-x;
    min-height: 149px;
    position: relative;
    z-index: 21;
}

img.logo {
   left: 2em;
   position: absolute;
   top: 2em;
   border: none;
}

th

{
    text-align: left;
    padding-right: 10px;
}

tr.valid {
  background-color: #00aa00;
  text-align: center;
  color: white;
  font-weight: bold;
}

tr.invalid {
  background-color: red;
  text-align: center;
  color: white;
  font-weight: bold;
}
