div.head {
    background-image: url("../images/head_bg.jpg");
    background-color: white;
}

div.logout-panel
{
    background-image: none;
    background-color: #D5D5D5;
    color: black;
}

div.block-widget
{
    background-color: #f2f2f2;
}

div.block-widget h1
{
    background-color: #8f949e;
    background-image: none;
}

div.block-widget .preamble,
div.customerSales-orderEdit div.block-widget-content div.order
{
    background-color: #d5d5d5;
}

table.default thead tr.no-entries-hint,
table.default tr.odd
{
    background-color: #D5D5D5;
}

table.default
{
    background-color: #f2f2f2;
}

table.default tr.even
{
    background-color: #f2f2f2;
}

ul.navi li
{
    margin: 0px 3px;
}

ul.navi li .inner-dimension,
ul.navi li.inner-dimension
{
    padding: 0.25em 0;
}

ul.subnavi li {
    background-color: #f2f2f2;
}

ul.subnavi li.active, ul.subnavi li.active li {
    background-color: #D5D5D5;
}

ul.navi li.active div.cnw,
ul.navi li:hover div.cnw,
ul.navi li.hover div.cnw
{
    background-image: none;
}

ul.navi li.active,
ul.navi li:hover,
ul.navi li.hover
{
    background-color: #f2f2f2;
    background-image: none;
}
/*
div.content-control ul.ui-tabs-nav li.hover,
div.content-control ul.ui-tabs-nav li:hover,
div.content-control ul.ui-tabs-nav li.ui-tabs-selected
{
    background-color:white;
    background-image:none;
    background-repeat:no-repeat;
    background-position:0 0;
}

div.content-control ul.ui-tabs-nav li.hover a,
div.content-control ul.ui-tabs-nav li:hover a,
div.content-control ul.ui-tabs-nav li.ui-tabs-selected a
{
    background-repeat:no-repeat;
    background-image:none;
    background-position:100% 0;
}
*/
ul.navi div.sub
{
    background-color: #f2f2f2;
    background-image: none;
}

ul.navi div.sub ul
{
    background-image: none;
}

div.sfGuardAuth div.login-form {
    background-image: none;
    background-color: #f2f2f2;
}

div.sfGuardAuth div.login-form h2,
div.sfGuardAuth div.login-form input.button
{
    color: #8f949e;
}
div.sfGuardAuth div.login-form a
{
    color: #ff0000;
}

div.sfGuardAuth div.login-form
{
    color: #333333;
}

div.block-widget h1 a.showless {
    background-image: url("../../backend/images/icon-showless-sub.png")
}

div.block-widget h1 a.showmore {
    background-image: url("../../backend/images/icon-showmore-sub.png")
}

div.logout-panel div.cse,
div.logout-panel div.csw{
    background-image: none;
}

ul.navi div.sub ul li:hover a,
ul.navi div.sub ul li.hover a
{
    background-image: url(../../backend/images/small_arrow_normal.gif);
    color: red;
}

div.customerSales-orderEdit div.block-widget-content div.order-customer
{
    background-color: #d5d5d5;
}

div.block-widget div.block-widget-content div.content-is-hidden h2
{
    color: black;
}

div.content-control ul.ui-tabs-nav li a
{
    color: #333333;
}

ul.subnavi li ul.sub li.active a, ul.subnavi li ul.sub li ul.sub li.active a
{
    color: white;
}

ul.navi div.sub ul li:hover div.cnw,
ul.navi div.sub ul li.hover div.cnw
{
    background-image:none;
}

ul.navi div.sub ul li:hover div.cne,
ul.navi div.sub ul li.hover div.cne
{
    background-image:none;
}

ul.navi div.sub ul li:hover div.csw,
ul.navi div.sub ul li.hover div.csw
{
    background-image:none;
}

ul.navi div.sub ul li:hover div.cse,
ul.navi div.sub ul li.hover div.cse
{
    background-image:none;
}

ul.navi div.sub ul li:hover,
ul.navi div.sub ul li.hover
{
    background:none;
}

table.default tbody tr:hover,
table.default tbody tr.hover
{
    background-color:#D6DFF2;
    color:black;
}

table.default tbody tr:hover a,
table.default tbody tr.hover a
{
    color: black;
}

div.sfGuardAuth div.login-form ul.error-list
{
    color: red;
}